<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<h1>Delete Book</h1>
	
	{% for book in books %}
		
		{% if book.id|string == book_id|string %}
			
			<p>Are you sure you want to delete {{book.title}}?</p>
			<form action="{{url_for('deleteBook', book_id = book_id)}}" method = 'POST'>
				<input type='submit' value='Delete'>
		{% endif %}
	{% endfor %}

	<a href="{{url_for('showBook', books = books)}}">Cancel</a><br>
			</form>
			
	
</body>
</html>
