<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<h1>Edit Book</h1>
	Name:
	<br><br>
	<form action="{{url_for('editBook', book_id = book_id)}}" method = 'POST'>
		<input type='text' size='30' name='name'>
		<input type='submit' value='Edit'>
		<a href="{{url_for('showBook', books = books)}}">Cancel</a><br>
	</form>
	
</body>
</html>